certifi==2020.12.5
chardet==3.0.4
click==7.1.2
decorator==4.4.2
docutils==0.16
future==0.18.2
geocoder==1.38.1
idna==2.10
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.gstreamer==0.3.1
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kivymd==0.104.1
Pillow==8.0.1
Pygments==2.7.3
pypiwin32==223
pywin32==300
ratelim==0.1.6
requests==2.25.0
six==1.15.0
urllib3==1.26.2
